# Configuration MongoDB Atlas pour Loup-Garou
MONGODB_URI=mongodb+srv://aaronquamone_db_user:z5QlOID71ifknk7u@aarmad.7sladpr.mongodb.net/loup-garou?retryWrites=true&w=majority&appName=aarmad

# Configuration du serveur (développement local)
PORT=8000
NODE_ENV=development
